<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQL0fiXS6iacxcrDZkXVIzqbJYRr0x-gE</string>
	<key>GCM_SENDER_ID</key>
	<string>597689057611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadam.dev</string>
	<key>PROJECT_ID</key>
	<string>kadam-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kadam-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597689057611:ios:656b7ff7bf8e6e3e5f28ce</string>
</dict>
</plist>